.catalog-filter {
    max-width: 532px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    background-color: #f7f8fc;
}

.catalog-filter__heading {
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.catalog-filter__checkbox-container {
    display: block;
    margin-bottom: 10px;
}

.catalog-filter__checkbox-container:last-child {
    margin-bottom: 0;
}

.catalog-filter__checkbox-container.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.catalog-filter__checkbox-name {
    position: relative;
    display: block;
    padding-left: 34px;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}

.catalog-filter__checkbox-name.custom-hidden {
    display: none;
}

.catalog-filter__checkbox-name .highlight {
    color: var(--color-blue-light);
}

.catalog-filter__checkbox-name::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #10bfeb;
    border-radius: 2px;
    opacity: 0.5;
    content: "";
}

.catalog-filter__show-more {
    display: inline-block;
    margin-top: 20px;
    padding-left: 32px;
    color: #10bfeb;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    transition: color var(--main-transition);
}

.catalog-filter__show-more ._hide {
    display: none;
}

.catalog-filter__show-more:hover {
    color: var(--color-orange);
}

.catalog-filter__checkbox:checked ~ .catalog-filter__checkbox-name::after {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 14px;
    height: 11px;
    background-image: url(../../img/icon-ok.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    content: "";
}

.catalog-filter__checkbox:checked ~ .catalog-filter__checkbox-name::before {
    background-color: #10bfeb;
    opacity: 1;
}

.catalog-filter__button {
    width: 100%;
    max-width: 488px;
    margin: 0 auto;
    margin-bottom: 32px;
    padding: 23px 30px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background-color: var(--color-dark-secondary);
    border-radius: 50px;
    cursor: pointer;
}

.catalog-filter__reset-button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #10bfeb;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color var(--main-transition);
}

.catalog-filter__reset-button:hover {
    color: var(--color-orange);
}

.catalog-filter__reset-button:hover .icon-filter-trash {
    fill: var(--color-orange);
}

.icon-filter-trash {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: #10bfeb;
    transition: fill var(--main-transition);
}

.catalog-filter__category {
    margin-bottom: 40px;
}

.catalog-filter__category:nth-last-of-type(1) {
    margin-bottom: 50px;
}

.catalog-filter__category-filters._only-shown .catalog-filter__checkbox-container:nth-child(6){
    margin-bottom: 0;
}

.catalog-filter__category-filters._only-shown .catalog-filter__checkbox-container:nth-child(n + 7){
    display: none;
}

.catalog-filter__time {
    margin-bottom: 40px;
    width: 100%;
}

.catalog-filter__location {
    margin-bottom: 40px;
    width: 100%;
}

.catalog-filter__time ._wrap {
    justify-content: space-between;
}

.catalog-filter__input-container {
    position: relative;
    display: block;
    width: 202px;
    height: 69px;
}

.catalog-filter__input-container label.error {
    position: absolute;
    left: 60px;
    bottom: 4px;
    font-size: 12px;
    color: tomato;
}

.catalog-filter__input-container .icon {
    position: absolute;
    top: 50%;
    left: 17px;
    width: 30px;
    height: 30px;
    fill: #030f26;
    transform: translateY(-50%);
}

.catalog-filter__input-container._location {
    width: 100%;
    margin-bottom: 20px;
}

.catalog-filter__input {
    width: 100%;
    height: 100%;
    padding: 26px 26px 21px 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.7px;
    border: none;
    background-color: rgb(1%, 6%, 15%, 0.05);
    outline: none;
}

.catalog-filter__input::placeholder {
    color: #030f26;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 22px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

.icon-search-filter {
    width: 33px;
    height: 330px;
}

@media (min-width: 1025px) {
    .catalog-filter__button:hover {
        color: #10bfeb;
    }

    .catalog-filter__checkbox-name:hover::before {
        background-color: #10bfeb;
    }
}

@media (max-width: 1680px) {
    .catalog-filter {
        max-width: 462px;
    }

    .catalog-filter__time ._wrap {
        flex-direction: column;
    }

    .catalog-filter__input._time-input {
        width: 100%;
    }

    .catalog-filter__time .catalog-filter__input-container {
        margin-bottom: 20px;
    }

    .catalog-filter__time .catalog-filter__input-container:nth-last-of-type(1) {
        margin-bottom: 0;
    }

    .catalog-filter__input-container {
        width: 100%;
    }
}

@media (max-width: 1366px) {
    .catalog-filter {
        padding: 30px 18px;
    }

    .catalog-filter__heading {
        line-height: 24px;
    }

    .catalog-filter__show-more {
        padding-left: 0;
    }

    .catalog-filter__input-container {
        height: 60px;
    }

    .catalog-filter__input {
        padding: 20px 20px 20px 50px;
    }

    .catalog-filter__input-container .icon {
        width: 26px;
        height: 26px;
        left: 14px;
    }
}