.directions {
  margin-bottom: 67px;
}

.direction__section-name {
  margin-bottom: 6px;
}

.directions__title {
  margin-bottom: 59px;
}

.directions__count {
  position: relative;
  display: block;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 210px;
  line-height: 0.7;
}

.directions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.directions__text {
  max-width: 290px;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  position: relative;
}

.directions__text span, .directions__text a {
  color: var(--color-blue-light);
}

.directions-grid {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px;
  flex-grow: 1;
}

.directions-grid__item {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: calc(50% - 20px);
  height: 310px;
  margin: 10px;
  padding: 15px 20px;
  padding-top: 7px;
  transition: transform .2s ease-in;
}

.directions-grid__item:nth-child(1) {
  background: -o-linear-gradient(341.38deg,#00beea,#1860ce);
  background: linear-gradient(108.62deg,#00beea,#1860ce);
}

.directions-grid__item:nth-child(2) {
  background: -o-linear-gradient(341.82deg,#61bd74 0,#2aa944 100%);
  background: linear-gradient(108.18deg,#61bd74 0,#2aa944 100%);
}

.directions-grid__item:nth-child(3) {
  background: -o-linear-gradient(341.38deg,#6e64cf 0,#473acb 100%);
  background: linear-gradient(108.62deg,#6e64cf 0,#473acb 100%);
}

.directions-grid__item:nth-child(4) {
  background: -o-linear-gradient(341.82deg,#aacc63 0,#3bad53 100%);
  background: linear-gradient(108.18deg,#aacc63 0,#3bad53 100%);
}

.directions-grid__item:last-child {
  padding-left: 15px;
  width: 100%;
  border: 5px solid;
  border-image-source: linear-gradient(108.18deg,#f74358 0,#c1293b 100%);
  border-image-slice: 1;
}

.directions-grid__item:last-child .directions-grid__text {
  max-width: 424px;
}

.directions-grid__item:last-child .directions-grid__title {
  color: var(--color-dark);
}

.directions-grid__item .icon-designed-arrow-big {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 370px;
  height: 256px;
  opacity: .2;
  fill: #fff;
  fill: var(--color-white);
}

.directions-grid__item .icon-designed-arrow-big._grey-colored {
  fill: #c4c4c4;
  fill: var(--color-grey);
}

.directions-grid__title {
  margin: 0;
  color: #fff;
  color: var(--color-white);
  font-weight: 700;
  font-size: 35px;
  line-height: 60px;
  text-transform: uppercase;
}

.directions-grid__text {
  max-width: 269px;
  margin: 0;
  color: #fff;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
}

.directions-grid__text._dark-colored {
  color: #030f26;
  color: var(--color-dark);
}

.directions-grid__img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 4;
}

.directions-grid__feautures {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  background: -o-linear-gradient(341.82deg,#f74358 0,#c1293b 100%);
  background: linear-gradient(108.18deg,#f74358 0,#c1293b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.directions-grid__feautures .cart__send-button-icon {
  margin-left: 6px;
}

.directions-grid__feautures:hover {
  background: none;
  -webkit-text-fill-color: var(--color-blue-light);
}

.directions-grid__feautures:hover .cart__send-button-icon {
  fill: var(--color-blue-light);
  stroke: var(--color-blue-light);
}

.directions-grid__feautures._firts {
  margin-top: auto;
}

.directions-grid__feautures:nth-last-of-type(1) {
  margin-bottom: 0;
}

.directions-grid__item-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

@media (min-width: 1025px) {
  .directions-grid__item:hover,
  .directions-grid__item:focus {
    transform: scale(1.02);
  }
}

@media (max-width: 1366px) {
  .directions__count {
    font-size: 98px;
    line-height: 1;
    margin-bottom: 24px;
  }

  .directions__text {
    font-size: 16px;
    line-height: 20px;
  }

  .directions__title {
    margin-bottom: 30px;
  }

  .directions-grid__title {
    font-size: 26px;
    line-height: 40px;
  }

  .directions-grid__img {
    display: block;
    width: 210px;
    height: 250px;
    object-fit: cover;
  }
  
  .directions-grid__item {
    height: 240px;
    overflow: hidden;
  }

  .directions-grid__item:last-child .directions-grid__img {
    width: 360px;
    height: 190px;
  }
}

@media (max-width:1280px) {
  .directions__text {
    margin-bottom: 24px;
    max-width: 250px;
  }

  .directions__title {
    margin-bottom: 36px;
  }
}

@media (max-width: 992px) {
  .directions-grid__img {
    width: 150px;
    height: 160px;
  }

  .directions-grid__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
  }

  .directions-grid__text {
    font-size: 14px;
    line-height: 20px;
  }

  .directions-grid__item .icon-designed-arrow-big {
    width: 350px;
    height: 186px;
    right: -81px;
    bottom: -32px;
  }
}

@media (max-width: 767px) {
  .directions-grid {
    margin: 0;
  }

  .directions-grid__item {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  .directions-grid__item:last-child {
    margin-bottom: 0;
  }

  .directions-grid__item:last-child .directions-grid__img {
    width: 267px;
    height: 140px;
  }

  .directions-grid__feautures::after {
    right: -20px;
    width: 12px;
    height: 12px;
  }
  
  .directions-grid__item {
    height: 188px;
    padding: 20px 16px;
  }

  .directions-grid__item:last-child {
    height: 289px;
  }

  .directions__text {
    line-height: 24px;
  }

  .directions-grid__text {
    max-width: 200px;
  }
  
  .directions {
    margin-bottom: 40px;
  }
}


@media (max-width: 480px) {
  .directions-grid__item:last-child .directions-grid__img {
    right: -65px;
  }

  .directions-grid__item:nth-child(1) .directions-grid__img {
    width: 161px;
    height: 180px;
  }

  .directions-grid__item:nth-child(2) .directions-grid__img {
    width: 217px;
    height: 195px;
  }

  .directions-grid__item:nth-child(3) .directions-grid__img {
    width: 209px;
    height: 179px;
    transform: rotate(-11deg);
    right: -14px;
    bottom: -17px;
  }

  .directions-grid__item:nth-child(4) .directions-grid__img {
    width: 224px;
    height: 187px;
    transform: rotate(-11deg);
    right: -61px;
    bottom: -26px;
  }

  .directions-grid__item:last-child {
    padding: 14px 11px 22px 12px;
  }

  .directions-grid__item:last-child .directions-grid__text {
    max-width: 175px;
  }

  .directions-grid__feautures {
    margin-bottom: 13px;
  }

  .directions-grid__item:last-child .icon-designed-arrow-big {
    width: 300px;
    height: 345px;
  }
}

@media (max-width: 360px) {
  .directions-grid__img {
    z-index: -1;
  }

  .directions-grid__item .icon-designed-arrow-big {
    z-index: -2;
  }
}


@media (max-width: 320px) {
  .directions-grid {
    margin: 0 -20px;
    width: auto !important;
  }
}